EVOLUTION_URL=https://evolutionapi.atendimento.info
EVOLUTION_APIKEY=
EVOLUTION_INSTANCE=CasaBicicletas
PUBLIC_URL=https://casadasbicicletas.site
WEBHOOK_TOKEN=
PORT=3000
CRM_SENHA=
DB_PATH=./dados/crm.db
MEDIA_DIR=./midia
